body{
	background-color: #fff;
}

section{
	padding: 0 !important;
}

#swagger_sidebar{
	padding-top: 30px;	
}

.operations li::before{
  content:"";
  display:block;
  height:50px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}